body {
    width: 100%;
    height: 100%;
	font-family: 'Lato', sans-serif;
    color: #fff;	
	background-image:
    radial-gradient(
      circle at top right,
      #8e44ad,
      #1abc9c 90%
    );
position:relative; 
	overflow:hidden;
}
html {
position:relative; 
	overflow:hidden;
    width: 100%;
    height: 100%;
}

.noselect {
    cursor:default;
}
.text
{
   opacity:1;
   display:block;
   margin-top:-20px;
   font-size:10px;  
   font-weight:300;
}
.hold
	{
		font-weight:300;
		text-align:center; 
		display:inline-block;
		font-size:30px;
		background-color:rgba(255,255,255,0.2);
		width:70px;
		height:70px;
		line-height:50px;
		margin-right:-10px;
		border:solid 1px #fff;
		border-radius:100%;
	}

@media(min-width:768px) {.text
{
   opacity:1;
   display:block;
   margin-top:-10px;
   font-size:15px;  
   font-weight:100;
}
	.hold
{
	font-weight:300;
    text-align:center; 
	display:inline-block;
    font-size:30px;
    background-color:rgba(255,255,255,0.2);
    width:100px;
    height:100px;
    line-height:50px;
    margin-right:-10px;
    border:solid 1px #fff;
    border-radius:100%;
}
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}



.light {
    font-weight: 300;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;

    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.content-section {
    padding-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

}

footer {
	bottom:0;
	position:fixed;
}

footer p {
    margin: 0;
}


